<!DOCTYPE html>
<html>
  <head>
     {% load bootstrap3 %}
     <script src="{% bootstrap_jquery_url %}"></script>
     {% bootstrap_javascript %}
    <title>Авторизация</title>
  </head>
  <body>

<form id="contact_form" action="{% url 'accounts:login' %}" method="post">
    {% csrf_token %}
    {% bootstrap_form login_form %}
    {% buttons %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Войти</button>
        </div>
    {% endbuttons %}
</form>

  </body>
</html>