<!DOCTYPE html>
<html>
  <head>
    <title>Авторизация</title>
  </head>
  <body>
    <form id="contact_form" action="{% url 'accounts:login' %}" method="post">
      {% csrf_token %}
      <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
      {{ form.as_p }}
      <button type="submit" class="btn btn-secondary">Войти</button>
    </form>
  </body>
</html>