<!DOCTYPE html>
<html lang="ru">
{% load static %}

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Boogaloo|Open+Sans+Condensed:300" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>

</head>
<body>

<div>


    <!-- Image and text -->

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="font-family: 'Audiowide', cursive">
        <a class="navbar-brand" href="/">
            <img src={% static "c3d_site_app/penguin.jpeg" %} width="30" height="30" class="d-inline-block align-top"
            alt="">
            C3D
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a>
                </li>

            </ul>
            </a>
            <a href="/new/" class="btn btn-secondary">Добавить новый пост</a>
            &nbsp;&nbsp;
            {% include 'accounts/login_widget.html' %}

        </div>
    </nav>


    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: green">
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/" style="color:white;">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/categories/" style="color:white;">Категории</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
            </form>
        </div>
    </nav>

</div>

<p></p>


<div class="content container">
    <div class="row">
        <div class="col-md-12">
            {% block content %}{% endblock %}
        </div>
    </div>
</div>


<div style="background-color: green; color:white;">

    <div class="container">
        <div class="row">
            <div class="col-sm">

            </div>
            <div class="col-sm">
                &copy; C3D
            </div>
            <div class="col-sm">

            </div>
        </div>
    </div>

</div>

</body>
</html>