{% extends "c3d_site_app/base.html" %}
{% load static %}
{% block title %}C3D - категории{% endblock %}
{% block content %}
{% for categories_ in categories %}
<div class="post">
    <h1><a href="/category/{{ categories_ }}">{{ categories_ }}</a></h1>
</div>
{% endfor %}
{% endblock %}