{% extends "c3d_site_app/base.html" %}
{% load static %}
{% block title %}C3D{% endblock %}
{% block content %}
{% for post in posts %}
<div class="post">
    <div class="date">
        <p>Лайков: 0 <img src={% static "c3d_site_app/like.png" %} width="20" height="20"
            class="d-inline-block align-top" alt=""></p>
        <p>Рейтинг: {{ post.rate }} <img src={% static "c3d_site_app/star.jpg" %} width="20" height="20"
            class="d-inline-block align-top" alt=""></p>
        <p>Опубликовано: {{ post.published_date }}</p>
    </div>
    <h1><a href="post/{{ post.id }}">{{ post.title }}</a></h1>
    <p>{{ post.text|linebreaksbr }}</p>
    <p>Комментариев: 0 <img src={% static "c3d_site_app/comment.png" %} width="20" height="20"
        class="d-inline-block align-top" alt=""></p>
</div>
{% endfor %}
{% endblock %}