{% extends "c3d_site_app/base.html" %}
{% load static %}
{% block title %}C3D - Написать пост{% endblock %}
{% block content %}
<center>

    <h1>Написать пост</h1>
    <form method="POST">{% csrf_token %}
        {{ new_post_form.as_p }}
        <button type="submit">Save</button>
    </form>
</center>
{% endblock %}