{% extends "c3d_site_app/base.html" %}
{% load static %}
{% block title %}C3D{% endblock %}
{% block content %}
<div class="post">
    <h1><a href="">{{ post_id }}</a></h1>
    <p>{{ text|linebreaksbr }}</p>
</div>
{% endblock %}